<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ning.file.dao.OrderInfoDao">
    <resultMap id="OrderInfoResult" type="OrderInfo">
        <id property="oid" column="oid"/>
        <result property="oname" column="oname"/>
        <result property="osubject" column="osubject"/>
        <result property="ostate" column="ostate"/>
        <result property="otime" column="otime"/>
        <result property="odeadline" column="odeadline"/>
    </resultMap>

    <select id="getONameBySubject" parameterType="String" resultType="OrderInfo">
        SELECT oid, oname, osubject, ostate, otime, odeadline
        FROM orderinfo
        WHERE osubject = #{osubject}
          AND ostate = true
    </select>

    <select id="getONameBySubjectOfAll" parameterType="String" resultType="OrderInfo">
        SELECT oid, oname, osubject, ostate, otime, odeadline
        FROM orderinfo
        WHERE osubject = #{osubject}
    </select>

    <select id="getOrderInfoEntity" resultType="OrderInfo">
        SELECT oid, oname, osubject, ostate, otime, odeadline
        FROM orderinfo
    </select>

    <select id="getOrderInfoEntityByOID" resultType="OrderInfo" parameterType="int">
        SELECT oid, oname, osubject, ostate, otime, odeadline
        FROM orderinfo
        WHERE oid = #{oid}
    </select>

    <insert id="addOrderInfo" parameterType="OrderInfo">
        INSERT INTO orderinfo(oid, oname, osubject, ostate, otime, odeadline)
        VALUES (#{oid}, #{oname}, #{osubject}, #{ostate}, #{otime}, #{odeadline})
    </insert>
    <update id="changeKeyByOID" parameterType="map">
        UPDATE orderinfo
        <set>
            <if test="oname!=null">oname = #{oname},</if>
            <if test="osubject!=null">osubject = #{osubject},</if>
            <if test="ostate!=null">ostate = #{ostate}</if>
        </set>
        WHERE oid = #{oid}
    </update>
    <update id="updateDeadlineByOID" parameterType="map">
        UPDATE orderinfo
        <set>
            <if test="odeadline!=null">odeadline = #{odeadline}</if>
        </set>
        WHERE oid = #{oid}
    </update>

    <update id="updateOrderByOID" parameterType="map">
        UPDATE orderinfo
        <set>
            <if test="osubject!=null">osubject = #{osubject},</if>
            <if test="oname!=null">oname = #{oname},</if>
            <if test="ostate!=null">ostate = #{ostate},</if>
            <if test="otime!=null">otime = #{otime},</if>
            <if test="odeadline!=null">odeadline = #{odeadline}</if>
        </set>
        WHERE oid = #{oid}
    </update>

    <delete id="delOrderinfoByOID" parameterType="int">
        DELETE
        FROM orderinfo
        WHERE oid = #{oid}
    </delete>
</mapper>